<div class="col-12 col-md-6 col-lg-4 mb-3">
  <div class="card">
    <div class="card-body">
      <h5 class="card-header mb-1 text-center">PARTIAL</h5>
      <p class="card-text text-center mt-2">This is an example quote of a partial.</p>
      <h6 class="text-center">- Testing Partials</h6>
        <p class="text-center">posted by <a href="#" class="card-link">Test User</a></p>
        <button type="button" class="btn btn-outline-dark"><i class="fa-regular fa-heart"></i></button>
        
    </div>
  </div>
</div>