
    <footer class="page-footer">
      <p class="text-center">
        <b>QuoteSmith</b> is made with love by web developers; <a href="https://github.com/isaiasqb" target="_blank">Adrian Isaias Quevedo</a>, <a href="https://github.com/camkaras" target="_blank">Cameron Karasiuk</a>, <a href="https://github.com/SophoanMeas" target="_blank">Sophoan Meas</a> and <a href="https://github.com/narcpat" target="_blank">Patrick Narcisse </a>.
      </p>
    </footer>