 <!-- FOOTER START -->
    <footer class="page-footer text-center">

      <!-- Placeholder Graphic -->

      
      <div class="placeholderImg mt-0">
          <img src="/images/QuoteSmith-Placeholder.png">
      </div>



      <p class="text-center">
        <b>QuoteSmith</b> is made with love by <a href="https://github.com/isaiasqb" target="_blank">Adrian</a>, <a href="https://github.com/camkaras" target="_blank">Cameron</a>, <a href="https://github.com/SophoanMeas" target="_blank">Pon</a> and <a href="https://github.com/narcpat" target="_blank">Patrick</a>.
      </p>
    </footer>
    <!-- FOOTER END -->