<footer class="page-footer mt-2" style="height: 100px;">
    <div class="h-100 d-inline-block d-flex flex-column ">
      <p class="text-center mt-auto">
        <b>QuoteSmith</b> is made with love by web developers; <a
          href="https://github.com/isaiasqb" target="_blank">Adrian Isaias
          Quevedo</a>, <a href="https://github.com/camkaras" target="_blank">Cameron
          Karasiuk</a>, <a href="https://github.com/SophoanMeas"
          target="_blank">Sophoan Meas</a> and <a
          href="https://github.com/narcpat" target="_blank">Patrick Narcisse
        </a>.
        </p>
  </div>
</footer>