<nav class="navbar navbar-light bg-light">
    <div class="container justify-content-around">
          <!-- QuoteSmith logo -->
                    <a href="/" class="col-lg-3 col-sm-12 col-xs-12 navbar-brand">
                      <img class="mw-100 img-fluid d-inline-block mb-0"
                        src="/images/QuoteSmith-Horizontal.png"
                        alt="QuoteSmith Logo">
                    </a>
          <!-- Search bar and radio buttons -->
              <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                  <div class="input-group mt-5 mb-3">
                      <input type="text" class="form-control" id="text-query" placeholder="Search quotes" aria-label="Search quotes" aria-describedby="basic-addon2">
                      <div class="input-group-append">
                      <button id="search-btn" class="btn btn-outline-primary" type="button">Search</button>
                      </div>
                  </div>  
          <!-- radio buttons -->
                  <div class="form-check form-check-inline ml-3">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="option-author" value="author">
                      <label class="form-check-label " for="inlineRadio1">By Author:</label>
                  </div>
                  <div class="form-check form-check-inline ml-3">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="option-keyword" value="keyword">
                      <label class="form-check-label text-center" for="inlineRadio2">By Keyword:</label>
                  </div>
              </div>
              <!-- add a quote button -->
              <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 m-2">
                  <button type="button" id="addNewQuote" onclick="addQuote({{userId}})"
                  class="btn btn-med btn-dark" data-toggle="modal" data-target="">Add
                  a quote</button>
              </div>
          <!-- Login/Signup section -->
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 m-2">
                <span class="row g-2">
                  <div class="text-right mr-2">
                      <button type="button" class="btn btn-outline-primary"
                      data-toggle="modal" data-target="#loginModal">Login</button>
                  </div>
                  {{#if loggedIn}}
                  <div class="text-right">
                      <button type="button" id="logout" class="btn btn-outline-primary"
                      data-toggle="modal" data-target="">Logout</button>
                  </div>

                  <script src="/js/logout.js"></script>
                  {{/if}}
                  <!-- Sign up -->
                  {{#if loggedIn}}
                  {{else}}
                  <div class="text-right">
                      <button type="button" class="btn btn-outline-primary"
                      data-toggle="modal" data-target="#signUpModal">Sign Up</button>
                  </div>
                  {{/if}}
                </span> 
              </div>


              {{#if loggedIn}}
              <div class="col-12 text-right">
                  <div class="row ">
                      <i class="user-icon fa-solid fa-circle-user fa-2x"></i>
                      <p class="username mt-2">{{username}}</p> 
                      &nbsp;
                  </div>
              </div>
             {{/if}}
  </div>
</nav>









 <div class="container mt-3">
  <h2 class="mt-5 text-center mb-4">Categories</h2>
  <div class="text-center ">
    <div class="btn-group bg-white" role="group" aria-label="Quote Categories">
      <div class="mr-1">
      <a href="/api/quotes/category/1">
        <button id="btn-work" type="button" class="btn btn-outline-primary
          btn-lg">Work</button>
      </a>
      </div>
       <div class="mr-1">
      <a href="/api/quotes/category/2">
        <button id=" btn-love" class="btn btn-outline-primary btn-lg">Love</button>
      </a>
      </div>
       <div class="mr-1">
      <a href="/api/quotes/category/3">
        <button id="btn-life" class="btn btn-outline-primary btn-lg">Life</button>
      </a>
       </div>
       <div class="mr-1">
      <a href="/api/quotes/category/4">
        <button id="btn-spirituality" class="btn btn-outline-primary btn-lg">Spirituality</button>
        <a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row g-3 mb-5">
      </div>
    </div>
  </section>
 
<!--LOGIN Modal -->
{{>add-quote-modal}}
{{>login-modal}}
{{>signup-modal}}


<script src="/js/search-quotes.js"></script>
