<nav class="navbar navbar-light bg-light">
        <div class="container justify-content-around">
      <!-- QuoteSmith logo -->
        <a href="#" class="col-lg-3 col-sm-12 navbar-brand">
          <img class="mw-100 img-fluid d-inline-block mb-0" src="/images/QuoteSmith-Horizontal.png" alt="QuoteSmith Logo">
        </a>
      <!-- Search bar and radio buttons -->
      <div class="col-3 ">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search quotes" aria-label="Search quotes" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button id="search-btn" class="btn btn-outline-primary" type="button">Search</button>
          </div>
        </div>
        <!-- radio buttons -->
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">by Author</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">by Keyword</label>
          </div>
        </div> 
      <!-- Add a quote button -->
          <div class="col-2">
            <button type="button" id="addQuoteBtn" class="btn btn-lg btn-dark" data-toggle="modal" data-target="#postQuoteModal">Add a quote</button>
          </div>
      <!-- Login/Signup section -->
          <div class="col-3">
            <span class="row g-2">
              <i class="fa-solid fa-circle-user fa-2x align-middle"></i> &nbsp; 
              <!-- Login -->
              <div class="text-center">
                <a href="" class="btn btn-outline-primary" data-toggle="modal" data-target="#loginModal">Login</a>
              </div>
              <!-- Sign up -->
              &nbsp;
              <div class="text-center">
                <a href="" class="btn btn-outline-primary" data-toggle="modal" data-target="#signUpModal">Sign Up</a>
              </div>
            </span>
          </div>
      <!-- END of Content Container -->
        </div>  
      </nav>