<div class="col-12 mt-3 mb-5">
    <div class="card">
      <div class="card-header text-center">
        <h4>{{category.category_name}}</h4>
      </div>
        <div class="card-body text-center">
          <blockquote class="blockquote mb-0">
            <h5>{{description}}</h5>
            <b>{{author}}</b>
            <br>
            <footer class="blockquote-footer">posted by: <cite title="Source Title"> {{user.username}}</cite>
            </footer>
          </blockquote>
        </div>
      </div>