<section class="container">
  <h3 class="Quotes">{{quote.description}}</h3>
  <section class="flex-row justify-center">
    {{#each description as |quote|}}
    {{> quote-description}}
    {{/each}}
  </section>
</section>