<h2 class="m-3 mt-5 mb-4">{{title}}</h2>
{{#each quotes as |quote|}}
{{>random-quote}}
{{/each}}

</div>
</div>
</section>
 <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="placeholderImg mt-0 d-flex justify-content-center">
    <img src="/images/QuoteSmith-Placeholder.png" alt="logo" />
</div>
    
