
<!-- MAIN START -->
    <!-- MAIN START -->
    <main>
      <!-- HERO START -->
      <section class="hero">
        <div class="container">
          <div class="row justify-content-center">
            <!-- Quote of the day section -->
            <h2 class="m-3">Quote of the Day</h2>
            <div class="col-12 mt-3 mb-5">

                {{#each quotes as |single|}}
                  <div class="card">
                    <div class="card-header text-center">
                      <h5>{{single.category.category_name}}</h5>
                    </div>
                      <div class="card-body text-center">
                        <blockquote class="blockquote mb-0">
                          <p>{{single.description}}</p>
                          <footer class="blockquote-footer">by <cite title="Source Title">{{single.author}}</cite>
                          </footer>
                        </blockquote>
                      </div>
                    </div>
                  {{/each}}
                  
            </div>
          </div> 
        </div> 
      </section>
      <!-- HERO END -->


      <!-- CATEGORIES SECTION --> 
      <section class="categories">
        <div class="container">
          <h2 class="mt-4 text-center">Categories</h2>

          <div class="text-center">
            <div class="btn-group bg-white" role="group" aria-label="Quote Categories">
              <button type="button" class="btn btn-outline-primary btn-lg">Work</button>
              <button type="button" class="btn btn-outline-primary btn-lg">Love</button>
              <button type="button" class="btn btn-outline-primary btn-lg">Life</button>
              <button type="button" class="btn btn-outline-primary btn-lg">Spirituality</button>
            </div>
          </div>

        </div>
        <!-- Results section -->
        <div class="container">
          <h2 class="mt-4 text-center">Results</h2>
          <div class="row g-3 mb-5">

            <!-- Quote example 1 -->
            <div class="col-12 col-md-6 col-lg-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-header mb-1 text-center">Category</h5>
                  <p class="card-text text-center mt-2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <h6 class="text-center">- Aristotle</h6>
                    <p class="text-center">posted by <a href="#" class="card-link">Username</a></p>
                    <button type="button" class="btn btn-outline-dark"><i class="fa-regular fa-heart"></i></button>
                    
                </div>
              </div>
            </div>

          
          <!-- end of card-holder -->
          </div>
        </div>
      </section>
      <!-- RESULTS END -->
      
    </main>
    <!-- MAIN END -->



    <!--LOGIN Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
          <div class="modal-header text-center">
              <h4 class="modal-title w-100 font-weight-bold">Login</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>

        <form id="login-form">
          <div class="modal-body mx-3">
                <div class="md-form mb-3">
                  <input type="email" id="email-login" class="form-control validate">
                  <label data-error="wrong" data-success="right" for="defaultForm-email">Your email</label>
                </div>

                <div class="md-form mb-2">
                  <input type="password" id="password-login" class="form-control validate">
                  <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
                </div>
          </div>
          <div class="modal-footer d-flex justify-content-center">
              <button id="btn-login" class="btn btn-primary" type="submit" form="login-form">Login</button>
          </div>
        </form>
    </div> <!--{{!-- modal content END --}}-->
  </div> <!--{{!-- modal dialoge END --}} -->
</div>
<!-- END of LOGIN Modal-->


    <!-- SIGNUP Modal -->
<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
          <div class="modal-header text-center">
              <h4 class="modal-title w-100 font-weight-bold">Sign Up</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>

        <form id="signup-form">
          <div class="modal-body mx-3">

                <div class="md-form mb-3">
                  <input type="username" id="username-signup" class="form-control validate" placeholder="Username">
                  <label data-error="wrong" data-success="right" for="defaultForm-username"></label>
                </div>

                <div class="md-form mb-3">
                  <input type="email" id="email-signup" class="form-control validate">
                  <label data-error="wrong" data-success="right" for="defaultForm-email">Your email</label>
                </div>

                <div class="md-form mb-2">
                  <input type="password" id="password-signup" class="form-control validate">
                  <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
                </div>

          </div>
          <div class="modal-footer d-flex justify-content-center">
              <button id="btn-signup" class="btn btn-primary" type="submit" form="signup-form">Sign Up</button>
          </div>
        </form>
    </div>
  <!-- {{!-- modal content END --}} -->
  </div>
    <!-- {{!-- modal dialog END --}} -->
</div>
    <!-- END of SIGNUP Modal-->

    <!-- POST A QUOTE Modal -->
   <div class="modal fade" id="postQuoteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add a New Quote</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form>
              <div class="modal-body">
                  <div class="form-group">
                    <label for="newQuote" class="col-form-label">Quote:</label>
                    <textarea class="form-control" id="newQuoteText"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="quoteTitle-name" class="col-form-label">Author:</label>
                    <input type="text" class="form-control" id="newQuoteAuthor">
                  </div>
                  <h6>Categories</h6>
                  <select class="form-select" aria-label="Default select example" id="newQuoteCategory">
                    <option selected>Select Quote Category</option>
                    <option value="1">Work</option>
                    <option value="2">Love</option>
                    <option value="3">Life</option>
                    <option value="4">Spirituality</option>
                  </select>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" type="submit" id="addNewQuote">Add New Quote</button>
              </div>
          </form>
        </div>
      </div>
    </div>
    <!-- END of POST A QUOTE Modal -->
    <script src="/js/add-quote.js"></script>
