<h2 class="m-3">{{title}}</h2>
{{#each quotes as |quote|}}
  {{>random-quote}}
  {{/each}}
    <!-- END of POST A QUOTE Modal -->
    <script src="/js/add-quote.js"></script>
    <script src="/js/search-quotes.js"></script>
