<h2 class="m-3">{{title}}</h2>
{{#each quotes as |quote|}}
  {{>random-quote}}
  {{/each}}

         <div class="container mt-5">
          {{!-- <h2 class="mt-4 text-center">Results</h2> --}}
          <div class="row g-3 mb-5">

            <!-- Placeholder Graphic -->
            <div class="placeholderImg mt-0">
                <img src="/images/QuoteSmith-Placeholder.png">
            </div>


          <!-- end of card-holder -->
          </div>
        </div>
      </section>

    <!-- END of POST A QUOTE Modal -->
    <script src="/js/add-quote.js"></script>
    <script src="/js/search-quotes.js"></script>
