
           <nav class="navbar navbar-light bg-light">

        <div class="container">
      <!-- QuoteSmith logo -->
        <a href="#" class="col-lg-3 col-sm-12 navbar-brand">
          <img class="mw-100 img-fluid d-inline-block mb-0" src="./public/images/QuoteSmith-Horizontal.png" alt="QuoteSmith Logo">
        </a>
      <!-- Search bar and radio buttons -->
      <div class="col-4 ">
          <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
          </form>
        <!-- radio buttons -->
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">by Author</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">by Keyword</label>
          </div>
        </div> 
      <!-- Add a quote button -->
          <div class="col-2">
            <button type="button" class="btn btn-lg btn-dark">Add a quote</button>
          </div>
      <!-- Login/Signup section -->
          <div class="col-2">
            <i class="fa-solid fa-circle-user fa-2x align-middle"></i> 
            <a href="#"> Login </a>  |
            <a href="#"> Sign Up</a>
          </div>
        </div>  
      </nav>
