<section class="categories">
    <div class="container">
        {{!-- <h2 class="text-center mt-3">{{title}}</h2> --}}
        <div class="text-center">
            <div class="btn-group bg-white mt-3 mb-5 back-btn" role="group" aria-label="Quote
                Categories">
              <a href="/home" class="mt-4 text-center">
                <button type="button" class="btn btn-primary btn-lg">Go Back</button>
              </a>
            </div>
        </div>
        <div class="row g-3 mb-5">
            {{#each quotes as |quote|}}
            {{>quote-card}}
            {{/each}}
        </div>
    </div>
</section>


<script src="/js/add-quote.js"></script>
<script src="/js/search-quotes.js"></script>