/* Global Styles */
.hero h2 {
  color: white;
  text-align: center;
  text-shadow: 1px 1px 2px black;;
}
.center_div{
  margin: 0 auto;
  width:80% 
}
/* End of Global Styles */

/* Header Styles */


.hero {
  background-image: url(../images/QuoteSmith-Hero-BG.jpg);
  background-size: cover !important;
  background-position: center !important;
}

.hero .container {
  flex-direction: column !important;
  justify-content: center !important;
}

.card {
  display: block !important;
  width: 25rem !important;
}

.card-header {
  background-color: rgb(2, 135, 140);
  color: white;
}

/* End of Header Styles */

