/* Global Styles */
.hero h2 {
  color: white;
  text-align: center !important;
  text-shadow: 1px 1px 2px black;;
}

/* .btn-primary {
  background-color: #378a98;
}
.btn-primary:hover {
  background-color: #216d87;
}
.btn-primary:active, .btn-primary:after {
  background-color: #378a98;
} */
/* End of Global Styles */

/* Header Styles */

.hero {
  background-image: url(../images/QuoteSmith-Hero-BG.jpg);
  background-size: cover !important;
  background-position: center !important;
}

.card-header {
  background-color: #102e54;
  color: white;
}

.modal-title {
  text-align: center !important;
}
.modal-header {
  background-color: #102e54;
  color: white;
}

.modal-footer {
  background-color: #e7f2fd;
}
/* End of Header Styles */

/* Main Styles */
main {
  background-color: #e7f2fd;
}

.placeholderImg {
  display: block;
    margin-left: auto;
    margin-right: auto;
}
